html,body {
  margin:0;
  padding:0;
  font-family: calibri;
}

.container {
  display: flex;
  flex:1;
}

 .match{
  display: flex;
  margin: 50px;
  width: 600px;
  height: 80px;
  border: 1px solid #eee;
  justify-content: space-around;
  flex:1;
}

.match > div {
  flex:1;
}
.date {
  padding-top: 20px;
}

.teamflags {
  width: 50px;
  height: 50px;
}
.versus {
  padding-left: 20px;
  padding-right: 20px;
}
